<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS PLAYGROUND</title>
    <style>
        .box{
            height: 250px;
            width: 250px;
            border: 1px solid black;
        }
        .red {
            background-color: crimson;
        }
        .bordure {
            border: 10px solid black;
        }
        .yellow {
            background-color: yellow;
        }
    </style>
</head>
<body>
   
    <div id="mon-app">
        <h1>Vue Js Cours</h1>
        
    <button v-on:click="toggleBox = !toggleBox"> color</button>
      
    <div v-if="toggleBox" class="box red"></div>
    <p v-else-if="!toggleBox" class="box yellow"></p>

    <ul>
        <li v-for="obj in objChat">
            <p v-for="(val, props) in obj"> {{ props }} : {{ val }}</p>
        </li>
    </ul>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      
      new Vue({
          el: '#mon-app',
          data: {
              objChat: [ 
                {race : 'persian' , age: 3, poids: "3kg"},
                {race : 'persian' , age: 3, poids: "3kg"},
                {race : 'persian' , age: 3, poids: "3kg"},
                {race : 'persian' , age: 3, poids: "3kg"},
              ],
              toggleBox : false,
              tableauFruits : ["orange","banane","peche","poire"] 
             
          },

          },)
    </script>
</html>